// colors
$max-sm: (max-width: 640px);

$petrol: #282C34;
$white: #FFFFFF;
$ice: #FAFAFA;
$gray-100: #ABB2BF;
$gray-200: #878585;

$purple: #C678DD;
$orange: #D19A66;
$aqua: #56B6C2;
$green: #98C379;
$blue: #2980b9;

$editor-background-color: $petrol;
$editor-color: $gray-100;

$navigator-background-color: lighten($editor-background-color, 2%);
$navigator-color: $ice;

$footer-background-color: $blue;
$footer-height: 24px;

// fonts
$source-code-pro: 'Source Code Pro', monospace;
$roboto: 'Roboto', sans-serif;